img {
  max-width: 100%;
}

.grid-wrapper {
  display: grid;
  height: 82vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}
header {
  text-align: center;
  background-color: #ffffaa;
}

section > p {
  border: 1px dotted black;
  padding: 1rem;
}

.icon {
  width: 24px;
  height: 24px;
}
nav > ul > li {
  text-decoration: none;
  list-style: none;
  color: black;
}
